.containerPrincipal {
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3dede;
}

.containerinputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 10%;
    gap: 4px;
}

label{
    font-size: 20px;
}

input{
    border-radius: 4px;
    height: 40px;
    outline: none;
    font-size:25px;
}

h2{
    text-align: center;
}

button{
    background-color: chartreuse;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
}

button:hover{
    background-color: rgb(162, 232, 93);
}